.home__image{
    width: 100%;
    max-width: 100%;
    max-height: 675px;
    z-index: -1;
    margin-bottom: -400px;
    position: 'fixed';
    
}

.home__text{
    justify-content: center;
    text-align: center;
    color: white;
}


